<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995769738386-r8p9ql5hgakrtihleu39b595klve2glf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995769738386-r8p9ql5hgakrtihleu39b595klve2glf</string>
	<key>API_KEY</key>
	<string>AIzaSyC5erl4TC_YrAJMuygaLxJM1zoGU8CV9LU</string>
	<key>GCM_SENDER_ID</key>
	<string>995769738386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baonh_appfood</string>
	<key>PROJECT_ID</key>
	<string>baonhappfood</string>
	<key>STORAGE_BUCKET</key>
	<string>baonhappfood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995769738386:ios:43a6c8559cc72d6dc1324b</string>
</dict>
</plist>